@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.current {
    color: rgb(153, 255, 0);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: rgb(153, 255, 0);
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(153, 255, 0);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(153, 255, 0);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}


/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

#about{
    display: center;
    box-sizing: border-box;
    margin-bottom: 50px;
    border: 50px #1f242d solid;
    background:transparent;
    padding: 2px;
    margin-top: 150px;
    text-align: center;
    font-size: xx-large;
    
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    
    
}

#projects{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    
}

#projects h1{
    display: center;
    box-sizing: border-box;
    margin-bottom: 50px;
    border: 50px #1f242d solid;
    background:transparent;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

#projects h2{
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;

}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background:linear-gradient(to top, rgb(109, 179, 171)50%, rgb(106, 104, 104) 50%);
    background-size: 100% 200%;
    transition: all .8s;
    color: rgb(222, 164, 102);;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    
}

#portfolio{
    display: center;
    box-sizing: border-box;
    border: 50px #1f242d solid;
    background:transparent;
    padding: 100px;
    margin-top: 100px;
    margin: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.coming-soon{
    color: rgb(223, 236, 77);
    margin-bottom: 200px;
    
}

hr{
    padding: 5px;
    background-color: white;
}
